*{
  padding: 0;
  margin: 0;
}

.macaco1{
  font-weight: bold;
  margin-left: 30%;
  font-size: 1.3em;
  margin-top: 33px;
}

hr{
  margin: 3px 0; /* Ajuste a margem conforme necessário */
}

.cp {
  margin-left: 80%;
  margin-top: 10px;
  position: relative;
  top: -190px; /* Ajuste o valor conforme necessário */
}

.codigo{
  margin-left: 80%;
  margin-top: 10px;
  position: relative;
  top: -190px; /* Ajuste o valor conforme necessário */
}

.parcela{
  margin-left: 80%;
  margin-top: 10px;
  position: relative;
  top: -0px; /* Ajuste o valor conforme necessário */
}






.curitiba{
  margin-top: -55px;
  position: relative;
}

.valor{
  margin-left: 80%;
  margin-top: 10px;
  position: relative;
  top:30px; /* Ajuste o valor conforme necessário */
}

.macaco2{
  font-weight: bold;
  margin-left: 38%;
  font-size: 1.3em;
}

.macaco3{
  font-size: 1.1em;
}

.dados{
  padding:20px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.linha {
  width: 100%;
  height: 3px;
  background-color: black;
}

.macaco{
  margin-left: 111px;
}



hr{
  border-color: black;
  width:100%;
  
}

.hr {
  border-left: 17px solid black;
  width:100%;
  }

.print{
  font-family: sans-serif;
  border: 1px solid black;
  width: 800px;
  margin-top: 10px;

}






.print h1 {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.print h2 {
 padding: 10px;
 border: 1px solid black;
 display: inline-block;
 margin-left: 10px;
}

.assinatura{
  border-bottom: 1px solid black;
  text-align: center;
}
